extends ../layout
block content
    form(action="/sites/add-site" method="post")
        .form-group.col-md-6
            label(for="gitRepo") Enter the Git URL:
            input.form-control(type="text" id="gitRepo" name="gitRepo")
        .form-group.col-md-6
            label(for="domainName") Domain name (App will be stored in: <code>/var/www/domain.com</code>):
            input.form-control(type="text" name="domainName" id="domainName")
        .form-group.col-md-6
            label(for="createRepo") Create repo?
            input.form-control(type="checkbox" name="createRepo" id="createRepo")
        .form-group.col-md-6
            label(for="startScript") Start script:
            input.form-control(type="text" name="startScript" id="startScript") 
        .form-group.col-md-6
            input(type="submit" id="savePort" text="Save") 
    // script.
    //     $(document).ready(function(){
    //           $("#saveNewProcess").click(function(e){
    //             var site = $("#executionPath").val();
    //             var url = "/sites/add-site";
    //             $.post(url, {site: site})
    //                 .done(function( data ) {
    //                     alert( "Data Loaded: " + data );
    //                 });
    //             });
    //         $("#savePort").click(function(e){
    //             e.preventDefault();
    //             alert("clicked")
    //             var port = $("#envPort").val();
    //             var domainName = $("#domainName").val();
    //             var url = "/sites/save-nginx-config/";
    //             $.post(url, { port: port, domainName: domainName })
    //                 .done(function( data ) {
    //                     alert( "Data Loaded: " + data );
    //                 });
    //             });
    //     });